
body{
    text-align:center;
}
.btn{
    height:150px;
    width:150px;
    border-radius:20%;
    border:8px solid black;
    margin:1rem;
}
.btn-container{
    display:flex;
    justify-content:center;
    
}
.yellow{
    background-color:rgb(240, 166, 4);
}
.red{
    background-color:rgba(198, 56, 103, 0.817);
}
.green{
    background-color:rgba(53, 111, 53, 0.854);
}
.purple{
    background-color:rgb(118, 68, 192);
}
.flash {
    background-color:white;
}
.userflash{
    background-color:green;
}
.game-over {
    background-color: red;
}